*{
margin:0px;
padding:0px;
}


@font-face{
font-family:'Helvetica';
src: local('Helvetica.zip')
}


nav{
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        background-color: 0.1;
        background-repeat: repeat-x;
        font-family: 'Helvetica', sans-serif;
        line-height: 2em;
        font-style: normal;
        color:black;
        float:left;
        font-size: 130%;
        font-weight: bold;
        margin-top:5px;
        margin-left: 5px;
      }

      nav ul{
        list-style-type: none;
        text-align: center;
        text-indent: 10px;
      }

      nav li{
        margin-left: 30px;
        margin-right:38px;
        margin-bottom: 8px;
        display:inline;
      }

      nav li a{
        text-decoration:none;
        color: black;
      }

      nav li a:hover{
        color: #ac6504;
      }

      .nav-pills > li > a.active {
    background-color: #ae7756 !important;
}
      .nav-pills > li > a{
    color: black !important;
}

#table{
margin-left:200px;
margin-top:50px;
border-color: #b0e5ff;
}


#content{
  list-style-position: inside;
  margin-left:10px;
}